/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-guide-manual {
  border: 1px dotted red;
}

.components-guide {
  &__page {
	padding: 20px;

	&, * {
	  line-height: 1.5;
	}

	img {
	  height: auto;
	}

	p {
	  margin: 1em 0;
	}

	p, li {
	  font-size: 13px;
	}

	ul {
	  list-style: circle;
	  padding-left: 40px;
	}
  }

  .components-modal__header {
	.components-button {
	  &:hover {
		background: var(--wp-admin-theme-color);
	  }
	}
  }

  @media (min-width: 600px) {
	width: 1000px;
	font-size: 25px;
  }
}

.guide_ordering.guide_ordering {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	gap: 20px;
	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		gap: 10px;
	}

	.sortable-guides {
		li {
			cursor: move;
			transition: opacity 0.2s;
			
			&:hover {
				opacity: 0.6;
			}
		}
	}
	
	.screen {
		background: white;
		width: auto;

		.screen-inner-wrapper {
			background: transparent;
		}
	}
}

